<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="container">
    <h1>New post</h1>
    <br>
    <form method="POST" class="post-form" enctype="multipart/form-data">
         {% csrf_token%}
      <h3>Title</h3>
      <input type="text" name="title" />
      <h3>Content</h3>
      <textarea cols="50" rows="15" name="content"></textarea>
      <input type="submit" value="Save" />
    </form>
</div>
</body>
</html>