<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container" style="padding-top:100px; ">
    <h1>Sign Up</h1>
		<form method="POST" action="{% url 'signup' %}">
        {% csrf_token %}
        Username:
        <br>
        <input name="username" type="text" value="">
        <br>
        Password:
        <br>
        <input name="password1" type="password" value="">
        <br>
        password2:
        <br>
        <input name="password2" type="password" value="">
        <br>
        <br>
        <input class="btn btn-secondary my-2" type="submit" value="Sign Up!">
    </form>
</div>
</body>
</html>